/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #444444;
$textmuted: #848484;
$accent: #707eac;
$accent-nav: #3E4E83;
$zig: rgb(255,78,80);
$zag: rgb(255,255,255);
$bg: transparent;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
@import "animate";