<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.to.title }}{% else %}{{ site.to.title }} &mdash; {{ site.to.subtitle }}{% endif %}</title>
    {% if site.to.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.to.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    <!--<link rel="stylesheet" type="text/css" href="/source/main.css">-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.to.logo }}"/>
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.to.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.to.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.to.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    <meta property="og:image" content="{{ site.url }}/images/{{ site.to.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.to.title }}">     
</head>
<body>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.to.logo }}" alt="TO">
            </a>
            <a href="/" class="home">Home</a>
            {% if site.to.blog_link %}<a href="{{ site.to.blog_link }}">Blog</a>{% endif %}
            {% if site.to.about_link %}<a href="{{ site.to.about_link }}">About</a>{% endif %}
            {% if site.to.portfolio_link %}<a href="{{ site.to.portfolio_link }}">Portfolio</a>{% endif %}
        </nav>
        {% if site.to.tagline %}<nav class="tagline">
            {% if site.to.tagline %}<span>{{ site.to.tagline }}</span>{% endif %}
            {% if site.to.contact_link %}<a href="{{ site.to.contact_link }}" class="btn btn-outline">Get In Touch</a>{% endif %}
        </nav>{% endif %}
    </header>
</section>

{{ content }}

<footer class="site-footer bordered">
    <div class="container">
        <nav>
            <a href="/" class="home">Home</a> &middot;
            {% if site.to.blog_link %}<a href="{{ site.to.blog_link }}">Blog</a>{% endif %} &middot;
            {% if site.to.about_link %}<a href="{{ site.to.about_link }}">About</a> &middot; {% endif %}
            {% if site.to.portfolio_link %}<a href="{{ site.to.portfolio_link }}">Portfolio</a> &middot; {% endif %}
            {% if site.to.contact_link %}<a href="{{ site.to.contact_link }}">Contact</a>{% endif %}
        </nav>
        
        <nav class="social">
            {% if site.to.twitter %}
            <a href="https://twitter.com/{{ site.to.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.to.facebook %}
            <a href="http://facebook.com/{{ site.to.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
        </nav>
        <p><span style="margin-right:.3em;">&copy; {{ site.time | date: "%Y" }}</span> TimbaObjects Technologies Ltd.</p>
    </div>
</footer>

{% include _scripts.html  %}

</body>
</html>
